body{
    background-image:url("./imagenes/imagess.jpg");
    position:relative;
    background-repeat: no-repeat ;
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-color: #cccccc;
}